useless/compile_main.bat
builds
build
data
launcher.build
main.build
to_build
dist
.vscode
__pycache__
test.py
setup.py
launcher.exe
AND_gate.svg.ico
LogicWorker.exe.spec
LogicGenerator.py
t.ttbl
LogicWorker.exe
l.logic
l.json
test.bat
test2.py
test
test3.py
watermark_textbox.py
tem.ttbl
StoppableThread.py
gui_launcher.spec
